body {
  padding: 0;
  margin: 0;
}

.parent {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #e5891d;
  width: 50vw;
  height: 100vh;
}

.titleTextLeft {
  font-size: calc(0.85em + 2vmin);
  font-family: Work Sans;
  color: #e5891d;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-top: 5vh;
}

.titleTextRight {
  font-size: calc(0.85em + 2vmin);
  font-family: Work Sans;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-top: 5vh;
}

.button {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e3046;
  font-size: calc(0.65em + 0.75vmin);
  font-family: Work Sans;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #29425f;
}

.button:active {
  background-color: #152130;
}

.button:focus {
  outline: none;
}

.placeholder {
  height: 10px;
  width: 10px;
}

.formContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #1e3046;
}

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.checkboxText {
  padding-left: 0.5vw;
  font-family: Work Sans;
  font-size: calc(0.5em + 0.5vmin);
  color: white;
}

.checkboxStyle {
  height: calc(0.7em + 0.7vmin);
  width: calc(0.7em + 0.7vmin);
  background-color: white;
  border-radius: 1px;
  cursor: pointer;
  border: 2px solid #1e3046;
}

.checkboxStyle:hover {
  border: 2px solid black;
}

.inputStyle {
  width: 25vw;
  outline: none;
  border: none;
  background-color: #e5891d;
  color: white;
  font-family: Work Sans;
  padding-left: 0.5vw;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: Work Sans;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: Work Sans;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: Work Sans;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
